*{
  margin: 0;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  canvas{
    border: 1px solid red;
    background-color: #000;
  }
  .game{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selectLevel{
    position: absolute;
    top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    .level{
      margin: 15px 20px 0 0;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        color: red;
      }
    }
    .active{
      color: red;
    }
  }
  .explain{
    position: absolute;
    cursor:pointer;
    top: 50px;
    left: 50px;
  }
  .dialog-main-box{
    top: 55% !important;
  }
}

